من میخوام زبان یاد بگیرم در ادامه یه متن یا کلمه انگلیسی میدم بهت تو به فارسی ترجمه کن نکات خلاصه رو هم بگو بدون هیچ مقدمه ای بریم رو اصل کار اگه متن به یک حوزه تخصصی (علمی یا فنی) مربوطه توضیح تخصصی مختصر هم بده بدون مقدمه برو رواصل کار که مطالب بیخود نبینم :
